body{
    margin: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.navFooter{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.center{
    flex: 0 1 auto;
    position: center;
}

.right{
    padding-left: 171.01px;
}

.box {
    text-align: center;
    justify-content: center;
}

input {
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 25px;
    width: 30%;
}
button {
    font-size: 24px;
    border-color: currentColor;
}
footer {
    background-color: lightgrey;
}